<div class="header">
    <header class="cont-header">
        <div class="cont-img">
            <a routerLink="/home" routerLinkActive="active"><img src="rym1.png" alt="logoR&M" class="imgLogo"></a>
        </div>

        <div class="cont-pagination">
            <div class="cont-items">
                <ul class="cont-ul">
                    <a routerLink="/home" routerLinkActive="active">
                        <li class="lista">Home</li>
                    </a>
                    <a routerLink="/best-episodes" routerLinkActive="active">
                        <li class="lista">Best episodes</li>
                    </a>
                </ul>
            </div>

        </div>

    </header>
</div>