.header{
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 999;
}

.cont-header{
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(115, 0, 255, 0.311), rgba(0, 0, 0, 0.637));
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 5px 5px 5px 30px;
}

.imgLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70px;
    height: 70px;
    cursor: pointer;
}

.cont-pagination{
    display: flex;
    padding-right: 60px;
    text-decoration: none;
}

.cont-ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
    text-decoration: none;
}

.con-items{
    padding-right: 20px;
    text-decoration: none;
}

.lista{
    padding: 15px;
    color: black;
    font-size: 20px;
    transition: all ease 0.3s;
    cursor: pointer;
    color: white;
    list-style: none;
    text-decoration: none;
}

.active{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}

.lista:hover{
    color: aqua;
    text-shadow: 2px 2px 4px rgb(249, 236, 0);
    border-bottom: 0.3px solid rgb(239, 255, 15);
}

.cont-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
}

.search{
    height: 20px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid rgb(0, 255, 242) ;
}
.search::placeholder{
    padding: 15px;
    color: grey;
}

#status-filter{
    height: 22px;
    border-radius: 5px;
    border: 1px solid rgba(0, 255, 242, 0.411) ;
}

.state{
    color: grey;
}


/* SCROLLY */

header.abajo{
    width: 100%;
    height: 60px;
    background: linear-gradient(rgba(115, 0, 255, 0.311), rgba(0, 0, 0, 0.486));
    display: flex;
    justify-content: center;
}
header.abajo ul{
    display: none;
}
header.abajo .cont-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}
header.abajo .cont-search{
    display: none;
}