<app-nav-bar />

<section class="cont-gen-episodes">
    <div class="cont-general">
        <div class="cont-bc">
            <div class="cont-episodes">
                <div class="cont-blur">
                    <div class="cont-title">
                        <p class="adult">serie by Adult Swim</p>
                        <h1>Los 5 mejores capítulos de 'Rick y Morty', de peor a mejor</h1>
                        <h4>Pickle Rick, los meeseeks, la boda de Hombre pájaro... Estos son los capítulos más inolvidables de 'Rick y Morty'.</h4>
                    </div>
                    <div class="cont-texto">
                        <div class="cont-video">
                            <video class="video" src="rym-video.mp4" controls></video>
                        </div>
                        <div class="foto-fondo-p">
                            <p class="contexto">Rick y Morty es una serie de televisión animada estadounidense que se estrenó el 2 de diciembre de 2013, en el bloque de programación nocturno de Cartoon    Network, Adult Swim. <br>
                                A partir del 3 de mayo de 2020, se han emitido 41 episodios de Rick y Morty. <br>
                                En mayo de 2018, se anunció que la serie se renovó por 70 episodios más por una cantidad no especificada de temporadas.</p>
                                <p class="contexto">Un episodio especial de once minutos titulado «Bushworld Adventures» se emitió sin previo aviso en Adult Swim el 1 de abril de 2018, un año después del estreno sorpresivo de la tercera temporada de Rick and Morty, como parte de la broma anual de April Fools de Adult Swim. Los creadores del espectáculo, Dan Harmon y Justin Roiland, no participaron en la creación de este episodio de parodia, que fue escrito, dirigido y producido por el animador australiano y personalidad de YouTube Michael Cusack. El episodio presenta una animación y un estilo de arte diferentes a los habituales, y su tema principal es el humor australiano.</p>
                                <p class="contexto">Cargada de referencias, pero también de ideas originales, la serie creada por Dan Harmon y Justin Roiland ha ido creciendo hasta reunir millones de fans entregados que alimentan una ficción que es, a la vez, una chorrada salvaje y una profunda y compleja reflexión sobre la existencia y los sentimientos humanos.</p>
                                <p class="contexto">con una inusitada concisión narrativa, la ficción es capaz de reunir chistes, drama, acción y ciencia ficción compleja en episodios de 20 minutos. Vamos, que a Christopher Nolan le llevarían una filmografía que, irónicamente, acabaríamos por entender bastante menos. Cada capítulo con esta pareja abuelo-nieto es un enorme viaje, aunque pueda ir desde a otras dimensiones y galaxias hasta ser una simple aventura de instituto.</p>
                                <p class="contexto">Llamad a Hombre pájaro, al Señor Pantalones de Popó, a Hitler Lincoln y a unos cuantos Meeseeks para que os ayuden, porque vamos a repasar la corta pero rica historia de la serie. Ya seas más de Morty, de Rick, de Summer, de Beth o, incluso y aunque nos cuesta creerlo, de Jerry, estos son los 5 mejores episodios que ha dado ‘Rick y Morty’, ordenador de peor a mejor.</p>
                        </div>
                    </div>
                </div>
                <div class="cont-portada">
                    <img class="imgPortada" src="Rick_and_Morty-logo.png" alt="portada">
                </div>
                
            </div>
            <div class="list">
                <div class="cont-lista-eps">
                    <div class="ep">
                        <div class="cont-w-p">
                            <img class="imagen-list" src="rick-y-morty-5.avif" alt="5">
                        </div>
                        <div class="cont-parr">
                            <div class="titles">
                                <h2>5 -</h2>
                                <h3>Pickle Rick (EPx03)</h3>
                            </div>
                            <P class="parrafo">‘Rick y Morty’ es aplaudida por su libertad narrativa y por la complejidad de sus ideas y episodios, pero también por la desvergonzonería de sus apuestas. Aquí Rick se convierte en pepinillo y, aun así, consigue convertir su cuerpo en funcional y sobrevivir a un ejército de ratas cuál épico blockbuster. Es una idea que parece salida de dos fumados a las 5 de la mañana antes de desmayarse, pero llevada a cabo por un equipo de maestros del oficio. La muestra de que en la sala de guionistas de la serie nadie tiene miedo a hablar ni a proponer cualquier cosa.</P>
                        </div>
                    </div>
                    <div class="ep">
                        <div class="cont-w-p">
                            <img class="imagen-list" src="rick-y-morty-4.avif" alt="4">
                        </div>
                        <div class="cont-parr">
                            <div class="titles">
                                <h2>4 -</h2>
                                <h3>The Wedding Squanchers (2x10)</h3>
                            </div>
                            <P class="parrafo">Cuando todavía pensábamos que ‘Rick y Morty’ iba a ser una serie más corta con una historia más limitada, este final de temporada fue un auténtico y dramático clímax. La boda de su mejor amigo, Hombre pájaro, es el suceso que utiliza el gobierno espacial para intentar acabar con Rick y su familia. Al final, en un momento realmente dramático que luego no lo sería tanto, Rick se entrega salvando a sus seres queridos. Por supuesto, Rick tendría un plan que se convertiría en el mejor episodio de la serie.</P>
                        </div>
                    </div>
                    <div class="ep">
                        <div class="cont-w-p">
                            <img class="imagen-list" src="rick-y-morty-3.avif" alt="3">
                        </div>
                        <div class="cont-parr">
                            <div class="titles">
                                <h2>3 -</h2>
                                <h3>Total Rickall (2x04)</h3>
                            </div>
                            <P class="parrafo">Más allá de la aparición icónica del Señor Pantalones de popó, quizás sea esta la aventura individual más vuela cabezas de la serie. Rick descubre que su familia ha sido infectada con un parásito capaz de crear recuerdos en sus huéspedes para reproducirse. Así, la residencia de los Smith se llena de extraños personajes que para los protagonistas son viejos amigos. La clave está en que el parásito no puede crear recuerdos negativos por lo que a los protagonistas les toca acabar con todo ser viviente que recuerdan de manera positiva. Inolvidable la historia de Jerry…</P>
                        </div>
                    </div>
                    <div class="ep">
                        <div class="cont-w-p">
                            <img class="imagen-list" src="rick-y-morty-2.avif" alt="2">
                        </div>
                        <div class="cont-parr">
                            <div class="titles">
                                <h2>2 -</h2>
                                <h3>The Ricklantis Mixup (3x07)</h3>
                            </div>
                            <P class="parrafo">Es el episodio mejor puntuad en IMDB pero nos resistimos a ponerlo en primer lugar al no aparecer en él los verdaderos protagonistas de la serie. Cuenta el ascenso al poder de un Morty en la reconstruida Ciudadela de los Ricks. Un capítulo protagonizado por decenas de variantes de ambos protagonistas en el que conocemos el intrincado tejido social del lugar como si estuviésemos viendo ‘The Wire’. Además, tiene un revelador final que conecta directamente con el 1x11. La línea argumental más interesante de la serie llegó entonces a su (por ahora) clímax.</P>
                        </div>
                    </div>
                    <div class="ep">
                        <div class="cont-w-p">
                            <img class="imagen-list" src="rick-morty-1.avif" alt="1">
                        </div>
                        <div class="cont-parr">
                            <div class="titles">
                                <h2>1 -</h2>
                                <h3>The Rickshank Rickdemption (3x01)</h3>
                            </div>
                            <P class="parrafo">Se estrenó antes de tiempo, como quien no quiere la cosa, y sigue siendo inalcanzable. El final de la temporada 2 nos dejaba con la derrota de Rick, la muerte de su mejor amigo, Hombre Pájaro, y el abandono de su familia. En 20 minutos de episodio, Rick revierte el control mental con el que lo interrogan (aunque da ciertas pistas sobre su traumático pasado con su esposa que todavía no se han resuelto), rescata a sus nietos de la Ciudadela de los Ricks y hace caer todo el gobierno galáctico en una batalla épica. La mayoría de series necesitarían varias temporadas para acercarse a las cantidades de narrativa, emoción, sorpresa, chistes, acción y drama de estos 20 minutos.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if(isScrolled){
        <button  class="scroll-to-top" (click)="scrollToTop()">
            <img src="icon-arriba.png" alt="">
        </button>
    }
    
</section>

<app-footer /> 