.cont-gen-episodes{
    width: 100%;
    min-height: 100vh;
    font-family: Oswald;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.751), rgba(1, 1, 1, 0.76)), url(../../../../public/a-rick-time.jpg);
}

.cont-episodes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-general{
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
}

.cont-bc{
    background: linear-gradient(to left, rgba(1, 1, 1, 0.895), rgba(0, 0, 0, 0.955));
    width: 90%;
    padding: 30px;
    border-radius: 15px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.cont-blur{
    width: 90%;
    border-radius: 15px;
}

.imgPortada{
    padding-top: 65px;
    border-radius: 15px;
    width: 350px;
}

.cont-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-texto{
    width: 100%;
    text-align: justify;
}

.contexto{
    padding-top: 10px;
    padding: 25px;
    font-size: 20px;
}

.cont-video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
    padding-top: 55px;
}

.foto-fondo-p{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.897), rgba(1, 1, 1, 0.877)), url(../../../../public/rymPortada.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 30px 30px 30px;
}

h1{
    font-size: 45px;
    color: rgb(0, 243, 252);
    -webkit-text-stroke: 1px #bbff00;
}
h2{
    padding-right: 30px;
    font-size: 35px;
    color: rgb(52, 7, 141);
    -webkit-text-stroke: 1px #b3ff00;
}
h3{
    font-size: 35px;
    color: rgb(52, 7, 141);
    -webkit-text-stroke: 1px #b3ff00;
}
h4{
    font-size: 25px;
}
.adult{
    font-weight: lighter;
    border-bottom: 1px solid white;
    margin: 25px;
}
.video{
    width: 750px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px rgba(255, 255, 255, 0.2);
}


.imagen-list{
    width: 375px;
    border-radius: 15px;
}

.cont-lista-eps{
    border-radius: 15px;
    margin-bottom: 50px;
    padding-top: 50px;
}

.cont-w-p{
    display: flex;
    flex-direction: column;
}

.ep{
    display: flex;
    justify-content: center;
    text-align: center;
}
.cont-w-p{
    display: flex;
    justify-content: center;
    padding: 55px;
}

.cont-parr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 360px;
}
.titles{
    display: flex;
}
.parrafo{
    font-size: 20px;
    
}



.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 35px;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: none;
    transition: opacity 0.3s;
  }
  
  .scroll-to-top:hover {
    opacity: 0.8;
  }
