<app-nav-bar></app-nav-bar>
<canvas id="starfield"></canvas>

<section class="rym-section">
  <div class="rym-hero">
    <p id="simpleUsage" class="rym-intro">
      Hic… ¡Oye, Morty! burp Estos episodios son oro interdimensional, ¡miralos ya!
    </p>
    <img
    class="rym-avatar"
    src="rick_cayendo.gif"
    alt="Rick Sanchez"
    />
  </div>

  <div class="rym-content">
    <div class="rym-header">
      <p class="rym-tagline">Serie original de [Adult Swim]</p>
      <h1>Top 5 episodios de Rick & Morty</h1>
      <h4>Desde Pickle Rick hasta los Meeseeks... lo mejor de lo mejor</h4>
    </div>

    <div class="rym-description">
      <p>
        Rick y Morty combina ciencia ficción, humor ácido y aventuras bizarras. Esta serie animada ha
        redefinido el género con su narrativa caótica y personajes memorables.
      </p>
    </div>

    <div class="rym-episode-list">
      <div class="rym-episode-card" *ngFor="let ep of episodes" (click)="openModal(ep)">
        <img [src]="ep.image" [alt]="ep.title" class="rym-ep-img" />
        <div class="rym-ep-info">
          <h2>{{ ep.rank }} - {{ ep.title }}</h2>
          <h3>S{{ ep.season }}x{{ ep.episode }}</h3>
          <p>{{ ep.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <button
    class="rym-scroll-top"
    *ngIf="isScrolled"
    (click)="scrollToTop()"
    title="Back to top"
  >
    <img src="icon-arriba.png" alt="">
  </button>
</section>



<div class="rym-modal-bg" *ngIf="showModal" (click)="closeModal()">
  <div class="rym-modal-content" (click)="$event.stopPropagation()">
    <button class="rym-close" (click)="closeModal()">×</button>

    <div class="rym-modal-img-wrapper">
      <div class="rym-modal-aura"></div> <!-- AURA -->
      <img [src]="selectedEpisode?.image" [alt]="selectedEpisode?.title" />
    </div>

    <h2>{{ selectedEpisode?.title }}</h2>
    <p>{{ selectedEpisode?.details }}</p>
  </div>
</div>

<app-footer></app-footer>
